/* These polls are hottt! */

ul.poll_options {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

ul.poll_options li {
	border-top: 1px solid #efefef;
	padding: 5px 0px;
}

ul.poll_options li:first-child {
	border-top: 0px none;
}

ul.poll_options li.user_vote {
	background-color: yellow;
}

ul.poll_options div {
	background-color: #999;
	color: #333;
}

ol#options li {
	display: block;
	background-color: red;
}